@media (max-width: 1024px) {
    h1 {
        font-size: 28px;
        text-align: center;
        height: 50px;
    }
    .container-block {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .block-line {
        justify-content: center;

    }
    .block1,.block2,.block3,.block4,.block5,.block6 {
        margin: 20px; ;
    }
    
}

@media (max-width: 913px) {
    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .little-div {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .text10 {
        text-align: center;
    }
    .block1,.block2,.block3,.block4,.block5,.block6 {
        margin: 20px; ;
    }
}
@media (max-width:757px) {
.block1,.block2,.block3,.block4,.block5,.block6 {
    margin-bottom: 20px;
}
}
@media (max-width: 11920px) {
    .block1,.block2,.block3,.block4,.block5,.block6 {
        margin-bottom: 40px;
    }
}