@media (max-width: 1024px) {
    h1 {
        font-size: 28px;
        text-align: center;
        height: 50px;
    }
    .container-block {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
     
    /* .section1 {
        margin-left: 60px;
        margin-right:60px;
    } */
    .block-line {
        justify-content: center;

    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    /* .section1 {
        margin-left: 30px;
        margin-right:30px;
    }
    .title-block {
        width: 50%;
    }
    .div-image {
        width: 50%;
    }
    .container-block {
        align-items: center;
        justify-content: center;
    } */
}